header {
    .headerTop {
        display: flex;
        justify-content: flex-start;
        background-color: #333;
        flex-wrap: wrap;
        img {
            padding: 1rem;
            height: 100px;
        }
        h1 {
            color: orangered;
        }
        .logo-container {
            display: flex;
            max-width: 20rem;
        }
        .cta {
            flex: 1 1 100%;
            background-color: #808080;
            color: #ddd;
            ul {
                font-family: Impact;
            }
        }
        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: center;
            li {
                font-family: Impact;
                list-style: none;
                padding: 1rem 0.5rem;
                &:not(:last-child) {
                    border-right: 1px solid #ECE9E9;
                }

            }
        }
    }
    .Collapsible {
        padding: 0.5rem;
        cursor: pointer;
        > span {
            font-family: Impact;
            padding: 1rem 5rem;
            &.is-open {
                color: #c93934;
            }
        }
    }
    .navigation,
    .Collapsible {
        ul {
            font-family: Impact;
            padding: 0;
            background-color: #ddd;
            margin: 0;
            li {
                font-size: 20px;
                display: block;
                color: #333;
                margin-left: auto;
                list-style: none;
                padding: 0.5rem;
                &:hover {
                    cursor: pointer;
                    color: #c93934;
                }
            }
        }
    }
    .navigation {
        display: none;
    }
}

@media all and (min-width: 641px) {
    header {
        .headerTop {
            .cta {
                flex: 1 1 50%;
                margin-left: auto;
                background: inherit;
                ul {
                    padding-top: 1rem;
                    justify-content: flex-end;
                    li {
                        padding: 0 0.5rem;
                    }

                }
            }
        }
        .Collapsible {
            display: none;
        }
        .navigation {
            display: block;
            ul {
                li {
                    display: inline-block;
                    padding: 1rem 2rem 1rem 1rem;
                }
            }
        }
    }
}