header {
    .headerTop {
        font-family: Impact;
        display: flex;
        justify-content: flex-start;
        background-color: #333;
        flex-wrap: wrap;
        img {
            padding: 1rem;
            height: 100px;
        }
        h1 {
            color: #eee;
        }
        .logo-container {
            display: flex;
            max-width: 20rem;
        }
        .cta {
            flex: 1 1 100%;
            ul {
                background-color: #333;
                color: #ddd;
            }
        }
        ul {
            display: flex;
            list-style-type: none;
            li {
                list-style: none;
                padding: 0 1.5rem;
            }
        }
    }
    .navigation {
        ul {
            font-family: Impact;
            padding: 0;
            background-color: #ddd;
            margin: 0;
            li {
                font-size: 20px;
                display: inline-block;
                color: #333;
                margin-left: auto;
                list-style: none;
                padding: 1rem 2rem 1rem 1rem;
                &:hover {
                    cursor: pointer;
                    color: #c93934;
                }
            }
        }
    }
}

@media all and (min-width: 641px) {
    header {
        .headerTop {
            .cta {
                flex: auto;
                margin-left: auto;
                ul {
                    justify-content: flex-end;
                    li {
                        padding: 0 1.5rem;
                    }
                }
            }
        }
    }
}